* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  font-family: sans-serif;
}

.container .header {
  background-color: dodgerblue;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .main {
  min-height: 85%;
  background-color: #bbb;
  padding-top: 2em;
}

.container .main .search-form {
  max-width: 1300px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 20px;
  background: dodgerblue;
  border-radius: 5px;
}

.container .main .search-form input {
  flex-grow: 1;
  padding: 15px;
  border-radius: 3px;
  border: 1px solid #eee;
}

.container .main .search-form button {
  border-radius: 3px;
  padding: 10px 30px;
  border: 1px solid #fff;
  color: #fff;
  background: none;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
}

.container .main .book-info {
  margin: 15px 50px;
  background-color: #fff;
  padding: .5em;
}

.container .main .book-info .margin {
  margin: 5px 0;
}
